html {
	background: #fff;
}

body {
	font: normal normal 13px/1.5em "Lucida Grande", Lucida, Verdana, Arial;
	padding: 5px;
	text-align: center;
	color:#333;
}
a:link, a:visited { color: #c9201c; }
.link { #c9201c; }
h1 { color: #000; font-weight: bold; }
section { padding: 10px; margin:0 10px; }
.container {
	border-bottom-width: 0px;
	margin:auto;
	position:relative;
	width: 1000px;
	text-align:left;
	border-left: 1px dotted #3399ff;
}
.box {
	background: #e6e9d8;
	-moz-border-radius: 8px 8px;
	-webkit-border-radius: 8px 8px;
	-a-border-radius: 8px 8px;
	border-radius: 8px 8px;
	margin-bottom:10px;
}
/*
 * Top Bar
 */
div.doctop {
	position:relative;
}

div.header_logo {

	background: url('../img/logo.png') no-repeat 20px top;
	height: 150px;
	margin: 10px 0;

}
div.header_lng {
	position:absolute;
	top:80px;
	right:5px;
}
div.header_bottom {
}

/*
 * Content
 */
.docbody {
	padding: 0;
	background:#fff;
}

/*
 * Bottom
 */
.docbottom {
	background-color:#fff;
}
.credits {
	width:1000px;
	margin:auto;
	height:30px;
	padding-top:10px;
}
.credits .line {
	height: 1px;
	background: #ef3125;
	background: -moz-radial-gradient(center center, circle, #ef3125 5%, #fff 60%);
	background: -webkit-radial-gradient(center center, circle, #ef3125 5%, #fff 60%);
	background: -o-radial-gradient(center center, circle, #ef3125 5%, #fff 60%);
	background: radial-gradient(center center, circle, #ef3125 5%, #fff 60%);
	margin-bottom: 10px;
}

.credits a:link, .credits a:visited {
	color: #c9201c;
}

#footer {
	width: 1000px;
	height: 40px;
}

.menu {
	color: #000;
	padding: 0px;

}
.col1 {
	clear:both;
	margin-top:5px;
	width: 69%;
}
.col2 {
	margin-top:5px;
	width: 29%;
}

/* styles */
caption { font-style: italic; }
.title { font-size: 1.2em; }
.subtitle { font-size: 1.1em; font-style:italic; color: #880000;  }

input[type=submit], input[type=button], .submit {
	cursor: pointer;
	background: url('../img/genericBtn_bkg.jpg') repeat-x;
	background-position: top left;
	font-size: 10px;
	font-weight: bold;
	height: 20px;
	padding: 2px 5px;
	color: #000 !important;	
	text-decoration: none !important; 
	border: 2px outset #cdcdcd;
}

table.generic tr.selected td {
	background-color: #f99391;
	color: #fff;
}
